{% if user.signed_agreement_date %}
    <div class="flex flex-col justify-center items-start mt-7">
        <p class="text-base font-normal leading-[1.5] m-0"><i>You've signed the agreement on {{ user.signed_agreement_date.strftime('%d %B %Y') }}</i></p>
    </div>
{% else %}
    <form hx-post="{{url_for('sign_agreement')}}" hx-target="this" hx-swap="outerHTML" class="mt-7">
        <div class="flex flex-col justify-center items-start gap-9 w-full cursor-pointer">
            <label class="custom_checkbox-label inline-flex items-center cursor-pointer text-base select-none">
                <input type="checkbox" name="is_agree" class="w-0 h-0 opacity-0" required>
                <span class="custom_checkbox checked:opacity-100"></span>
                I've read and fully understood the terms of this agreement
            </label>
            <button class="inline-flex justify-center items-center w-full max-w-80 h-14 bg-black text-white text-lg font-light leading-[1.5] rounded-lg cursor-pointer">
                Accept Terms & Conditions
            </button>
        </div>
    </form>
{% endif %}