<div class="row m-4">
    <div class="col-12">
        <div class="input-group flex-nowrap">
            <button class="btn btn-outline-secondary" type="button" onclick="rmBlock(this)">⨯</button>
            <input type="text" class="form-control" placeholder="Premium Big" id="pbUrl" name="premium_big"
                ident="{{ident}}" onchange="refresh()">
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text">Images</span>
            <input type="number" class="form-control" name="premium_big_gallery" ident="{{ident}}" value="0"
                onchange="refresh()">
            <input type="number" class="form-control" name="premium_big_gallery" ident="{{ident}}" value="2"
                onchange="refresh()">
            
            <input type="number" class="form-control" name="premium_big_gallery" ident="{{ident}}" value="3"
                onchange="refresh()">
            
            <input type="number" class="form-control" name="premium_big_gallery" ident="{{ident}}" value="4"
                onchange="refresh()">
            
            
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Promocode" name="premium_big_promocode"
                ident="{{ident}}" onchange="refresh()">
                <span class="input-group-text">Main Border</span>
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" name="premium_big_main_boarder"
                        ident="{{ident}}" onchange="refresh()">
                </div>
                <span class="input-group-text">Gallery boarders</span>
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" name="premium_big_gallery_0_boarder"
                        ident="{{ident}}" onchange="refresh()">
                </div>
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" name="premium_big_gallery_1_boarder"
                        ident="{{ident}}" onchange="refresh()">
                </div>
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" name="premium_big_gallery_2_boarder"
                        ident="{{ident}}" onchange="refresh()">
                </div>

        </div>
        
    </div>
</div>