<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Youtube url</span>
        <input type="text" class="form-control" placeholder="Youtube url" name="youtube_url">
      </div>                  
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Title</span>
        <input type="text" class="form-control" placeholder="Title" name="youtube_title">
      </div> 
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Duration</span>
        <input type="text" class="form-control" placeholder="1:23" name="youtube_duration">
      </div> 
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Label</span>
        <input type="text" class="form-control" placeholder="Process video" name="youtube_label">
      </div> 
</div>
<div class="row mt-4 mx-4">
    <h6>Description</h6>
</div>
<div class="row mx-4 mb-2">
    <textarea class="form-control" aria-label="description" name="youtube_description" style="min-height: 150px;"></textarea>
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Button text</span>
        <input type="text" class="form-control" placeholder="Watch Tutorial" name="youtube_button">
      </div> 
</div>