<div class="row mx-4 mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Similar product url" name="similar_product">
        <input type="text" class="form-control" placeholder="Similar product url" name="similar_product">
      </div>                  
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Similar product url" name="similar_product">
        <input type="text" class="form-control" placeholder="Similar product url" name="similar_product">
      </div>                  
</div>
