<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Number of products</span>
        <input type="number" class="form-control" placeholder="0" name="bundle_num_products">
      </div>                  
</div>
<div class="row mx-4 mb-2">
    <div class="input-group">
        <span class="input-group-text">Total price</span>
        <input type="text" class="form-control" placeholder="0" name="bundle_sum">
      </div> 
</div>
<div class="row mx-4 mb-2">
    <div class="d-grid gap-2 mb-3">
        <button class="btn btn-outline-success btn-sm" type="button" onclick="addBundleRow()">Add row</button>
    </div>
</div>
<div class="row mx-4 mb-2" id="bundle_products"></div>
