<div class="col-4">
    <h5>Plus</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Downloads</th>
            </tr>
        </thead>
        <tbody>
            {% for plus in page_data.plus %}
            <tr>
                <td><a href="{{plus.url}}">{{plus.title}}</a></td>
                <td>{{plus.downloads}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-4">
    <h5>Premium by profit</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Sales</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for prem in page_data.prem_by_profit %}
            <tr>
                <td><a href="{{prem.url}}">{{prem.title}}</a></td>
                <td>{{prem.sales}}</td>
                <td>${{prem.profit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-4">
    <h5>Premium by downloads</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Sales</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for prem in page_data.prem_by_sales %}
            <tr>
                <td><a href="{{prem.url}}">{{prem.title}}</a></td>
                <td>{{prem.sales}}</td>
                <td>${{prem.profit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>