<div class="row m-4">
  <div class="col-12">
    <h3 class="text-center">Total: {{ pbd.number_products}}</h3>
    <h3 class="text-center">Total big: {{ pbd.number_big_products}}</h3>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
  {% for product in pbd.products%}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <a href="{{product.trello_link}}" target="_blank">
        <img src="{{products_img_url}}{{product.ident}}" class="card-img-top">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
      </div>
      <div class="card-footer text-body-secondary text-lowercase">
        {{product.category}}{% if product.is_big %}, BIG{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<nav>
  <ul class="pagination">
      <li class="page-item {% if pbd.page == 1%} disabled{% endif %}">
        <a class="page-link" href="#" aria-label="Previous" {% if pbd.page != 1%}onclick="refresh_products({{pbd.page - 1}})"{% endif %}>
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for n_page in range(1, pbd.number_pages+1) %}
      <li class="page-item {% if n_page == pbd.page%} active{% endif %}"><a class="page-link" href="#" onclick="refresh_products({{n_page}})">{{n_page}}</a></li>
      {% endfor %}
      <li class="page-item {% if pbd.page == pbd.number_pages%} disabled{% endif %}">
        <a class="page-link" href="#" {% if pbd.page != pbd.number_pages %}onclick="refresh_products({{pbd.number_pages + 1}})"{% endif %} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link">{{ pbd.number_products}} products</a>
      </li>    
    </ul>
</nav>