{% extends "base.html" %}
{% block header %}
    {{ super() }}
    {% include "header.html" %}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="flex justify-center">
        <div class="flex flex-col justify-between w-full max-w-2xl h-full my-16">
            {% block content_in_wrapper %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
    {% include "footer.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', path='/js/el_header.js') }}"></script>
{% endblock %}
