{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='/el_header/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/content/styles.css') }}">
{% endblock %}
{% block header %}
    {{ super() }}
    {% include "header.html" %}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="content">
        <div class="content__wrapper">
            {% block content_in_wrapper %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
    {% include "footer.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', path='/el_header/script.js') }}"></script>
{% endblock %}
