{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}">
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Contracts</h3>
        </div>
    </div>
    <div class="row m-4">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Contract N</th>
                  <th scope="col">Date</th>
                  <th scope="col">Selfemployer</th>
                  <th scope="col">Service</th>
                  <th scope="col">Amount</th>
                  <th scope="col">PDF</th>
                  <th scope="col">Sign PDF</th>
                  <th scope="col">Check</th>
                </tr>
              </thead>
            
            <tbody id="warning_contracts">
                <tr>
                    <form action="{{ url_for('contracts.contracts') }}" method="post" enctype="multipart/form-data">
                        <td></td>
                        <td id="sandbox-container">
                            <div class="input-group-sm date">
                                <input type="text" class="form-control" name="new_contract_date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="selfemployer_select" name="selfemployer_id">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </td> 
                        <td>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="service_select" name="service_id">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control form-control-sm" type="text" placeholder="Amount" name="new_contract_amount">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Add</button>
                        </td>
                        <td></td>
                        <td></td>
                    </form>
                </tr>
            </tbody>          
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.en.min.js') }}"></script>
<script>
    $('#sandbox-container .input-group-sm.date').datepicker({
        format: "dd-mm-yyyy",
        weekStart: 1,
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
</script>
<script>
    getContract = function(ident){
        var formData = new FormData();
        formData.append('contr_ident', ident)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('contracts.get_contract') }}",
            data: formData,
            dataType: 'binary',
            xhrFields: {
                'responseType': 'blob'
            },
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data, status, xhr) {
                var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'contract.pdf';
                link.click();
            },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
    getCheck = function(ident){
        var formData = new FormData();
        formData.append('contr_ident', ident)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('contracts.get_check') }}",
            data: formData,
            dataType: 'binary',
            xhrFields: {
                'responseType': 'blob'
            },
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data, status, xhr) {
                var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'check.png';
                link.click();
            },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
    getSignedContract = function(ident){
        var formData = new FormData();
        formData.append('contr_ident', ident)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('contracts.get_signed_contract') }}",
            data: formData,
            dataType: 'binary',
            xhrFields: {
                'responseType': 'blob'
            },
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data, status, xhr) {
                var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'signed_contract.pdf';
                link.click();
            },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
</script>
<script>
    $.ajax({
        type: 'POST',
        url: "{{ url_for('contracts.get_contracts') }}",
        dataType: 'json',
        contentType: false,
        cache: false,
        mimeType: "multipart/form-data",
        processData: false,
        success: function(response) {
            var contracts = response.contracts;
            for(contract of contracts){
                var row_date = contract.contract_date.split("-")
                var local_date = row_date[2]+'-'+row_date[1]+'-'+row_date[0]
                var row = '<tr>'
                row += '<th scope="row">'+contract.contract_num+'</th>'
                row += '<td>'+local_date+'</td>'
                row += '<td>'+contract.selfemployed_name+'</td>'
                row += '<td>'+contract.sevice_name+'</td>'
                row += '<td>'+contract.amount+'</td>'
                row += '<td><button type="button" class="btn btn-outline-secondary btn-sm" onclick="getContract('+contract.ident+')">PDF</button></td>'
                if(contract.is_signed){
                    row += '<td><button type="button" class="btn btn-outline-secondary btn-sm" onclick="getSignedContract('+contract.ident+')">Sign_PDF</button></td>'
                } else {
                    row += '<td><form action="{{ url_for("contracts.contracts") }}" method="post" enctype="multipart/form-data">'
                    row += '<input class="form-control" type="file" name="signed_pdf" id="'+contract.ident+'_upload_signed_contract_input" hidden>'
                    row += '<input class="form-control" type="text" name="contract_ident" value="'+contract.ident+'" hidden>'
                    row += '<button type="button" class="btn btn-outline-primary btn-sm" id="'+contract.ident+'_upload_signed_contract">Upload</button>'
                    row += '<button type="submit" class="btn btn-outline-primary btn-sm" id="'+contract.ident+'_submit_signed_contract" hidden>Submit</button>'
                    row += '</form></td>'
                }
                if(contract.is_check){
                    row += '<td><button type="button" class="btn btn-outline-secondary btn-sm" onclick="getCheck('+contract.ident+')">Check</button></td>'
                } else {
                    row += '<td><form action="{{ url_for("contracts.contracts") }}" method="post" enctype="multipart/form-data">'
                    row += '<input class="form-control" type="text" name="contract_ident" value="'+contract.ident+'" hidden>'
                    row += '<div class="input-group-sm">'
                    row += '<input class="form-control" type="text" name="check_url">'
                    row += '<button type="submit" class="btn btn-outline-primary" id="'+contract.ident+'_submit_check">Submit</button>'
                    row += '</div></form></td>'
                }
                row += '</tr>'
                $("#warning_contracts").append(row)
                $("#"+contract.ident+"_upload_signed_contract").click(function(){
                    $('#'+contract.ident+'_upload_signed_contract_input').click();
                });
                $('#'+contract.ident+'_upload_signed_contract_input').change(function(){
                    $('#'+contract.ident+'_submit_signed_contract').click();
                })
            }

            var selfemployers = response.selfemployers;
            $("#selfemployer_select").empty()
            for(selfemployer of selfemployers){
                $("#selfemployer_select").append('<option value="'+selfemployer.ident+'">'+selfemployer.fio_short+'</option>')
            }

            var serices = response.serices;
            $("#service_select").empty()
            for(serice of serices){
                $("#service_select").append('<option value="'+serice.ident+'">'+serice.name+'</option>')
            }
            
        },

        error: function(error) {
            console.log(error);
        },
    })
</script>
{% endblock %}