{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Digest</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row m-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Product url" name="product_url">
                </div>
            </div>
            <div id="control">

            </div>
            <div class="row m-4">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="campaign_name">
                        <label for="campaign_name">Campanign name</label>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-primary" onclick="refresh()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-info" onclick="copyResult()">Copy HTML to
                            clipboard</button>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="HTML" id="resultArea"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea">Result</label>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                            onclick="copyToClipboard()">Copy preview url</button>
                        <input type="text" class="form-control" id="preview_url" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <iframe class="" src="" title="Preview" id="preview"
                style="width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0;" frameborder="0" scrolling="no"
                onload="resizeIframe(this)"></iframe>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var companyNameRegex = /^[a-z0-9_]+$/;

    document.addEventListener('DOMContentLoaded', (event) => {
        $('#campaign_name').on('change', function () {
            validate_campaign_name();
        });
    });
    const validate_campaign_name = function () {
        $('#campaign_name').removeClass('is-invalid');
        $('#campaign_name').removeClass('is-valid');

        let campaign_name = $('#campaign_name').val();
        if (campaign_name == '') {
            $('#campaign_name').addClass('is-valid');
            return true;
        } else {
            if (companyNameRegex.test(campaign_name)) {
                $('#campaign_name').addClass('is-valid');
                return true;
            } else {
                $('#campaign_name').addClass('is-invalid');
                return false;
            }
        }
    };
    var first_try = true;
    function refresh() {
        if (!validate_campaign_name()) {
            return;
        }
        formData = new FormData();
        formData.append('campaign_name', $('#campaign_name').val())
        formData.append('product_url', $('input[name="product_url"]').val())
        if (first_try) {
            formData.append('first_try', 'true')
        } else {
            formData.append('first_try', 'false')
            formData.append('num_cover_img', $('input[name="num_cover_img"]').val())
            formData.append('main_gallery_img_num', $('input[name="main_gallery_img_num"]').val())
            formData.append('last_gallery_img_num', $('input[name="last_gallery_img_num"]').val())
            gallery_rows = []
            for (var i = 0; i < $('div[name="gallery_row"] input').length; i += 2) {
                gallery_rows.push({
                    'left_img_num': $('div[name="gallery_row"] input')[i].value,
                    'right_img_num': $('div[name="gallery_row"] input')[i + 1].value
                })
            };
            formData.append('gallery_rows', JSON.stringify(gallery_rows))
            formData.append('exerpt', $('textarea[name="exerpt"]').val())
            formData.append('label', $('input[name="label"]').val())
            formData.append('description', $('textarea[name="description"]').val())
            detail_rows = []
            for (var i = 0; i < $('#details input').length; i++) {
                detail_rows.push($('#details input')[i].value)
            };
            formData.append('details', JSON.stringify(detail_rows))
            if ($('#video_switch').is(':checked')) {
                var video = {
                    'url': $('input[name="youtube_url"]').val(),
                    'title': $('input[name="youtube_title"]').val(),
                    'description': $('textarea[name="youtube_description"]').val(),
                    'duration': $('input[name="youtube_duration"]').val(),
                    'lable': $('input[name="youtube_label"]').val(),
                    'button_text': $('input[name="youtube_button"]').val(),
                }
                formData.append('video', JSON.stringify(video))
            }
            if ($('#bundle_switch').is(':checked')) {
                var bundle_products = []
                for (var i = 0; i < $('input[name="bundle_product"]').length; i++) {
                    bundle_products.push($('input[name="bundle_product"]')[i].value)
                };
                var bundle = {
                    'urls': bundle_products,
                    'num_products': $('input[name="bundle_num_products"]').val(),
                    'sum': $('input[name="bundle_sum"]').val(),

                }
                formData.append('bundle', JSON.stringify(bundle))
            }
            if ($('#beefree_switch').is(':checked')) {
                formData.append('beefree', $('input[name="beefree_html"]').val())
            }
            if ($('#similar_switch').is(':checked')) {
                var similar_products = []
                for (var i = 0; i < $('input[name="similar_product"]').length; i++) {
                    similar_products.push($('input[name="similar_product"]')[i].value)
                };
                formData.append('popular', JSON.stringify(similar_products))
            }
        };

        $.ajax({
            type: 'POST',
            url: "{{ url_for('mail.featured_source') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function (response) {
                $('#control').empty()
                $('#control').append(response.controls)
                first_try = false;
                $('#preview').attr('src', response.data.preview_url)
                $('#preview_url').val('{{base_url}}' + response.data.preview_url)
                $.get(response.data.preview_url, function (data, status) {
                    $('#resultArea').val(data)
                });

            },
            error: function (error) {
                console.log(error);
            },
        })

    }


    $('button[name="addEditArea"]').click(function () {
        formData = new FormData();
        formData.append('select_type', $('select[name="selectType"]').val())
        $.ajax({
            type: 'POST',
            url: "{{ url_for('mail.digest') }}",
            data: formData,
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function (response) {
                $('#editArea').append(response)
            },
            error: function (error) {
                console.log(error);
            },
        })

    })
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
    function copyResult() {
        navigator.clipboard.writeText($('#resultArea').val());
    }
    function copyToClipboard() {
        navigator.clipboard.writeText($('#preview_url').val());
    }
    function rmGalleryRow(event) {
        $(event.target).parent().remove()
    }
    function addGalleryRow() {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('mail.get_featured_gallery_row') }}",
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function (response) {
                $('#gallery').append(response)
            },
            error: function (error) {
                console.log(error);
            },
        })
    }

    function addDetail() {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('mail.get_featured_detail_row') }}",
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function (response) {
                $('#details').append(response)
            },
            error: function (error) {
                console.log(error);
            },
        })
    }

    function addBundleRow() {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('mail.get_featured_bundle_row') }}",
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function (response) {
                $('#bundle_products').append(response)
            },
            error: function (error) {
                console.log(error);
            },
        })
    }
    function video() {
        if ($('#video_switch').is(':checked')) {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('mail.get_featured_video') }}",
                dataType: 'html',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function (response) {
                    $('#video').append(response)
                },
                error: function (error) {
                    console.log(error);
                },
            })
        }
        else {
            $('#video').empty()
        }
    }
    function beefree() {
        if ($('#beefree_switch').is(':checked')) {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('mail.get_featured_beefree') }}",
                dataType: 'html',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function (response) {
                    $('#beefree').append(response)
                },
                error: function (error) {
                    console.log(error);
                },
            })
        }
        else {
            $('#beefree').empty()
        }
    }
    function bundle() {
        if ($('#bundle_switch').is(':checked')) {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('mail.get_featured_bundle') }}",
                dataType: 'html',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function (response) {
                    $('#bundle').append(response)
                },
                error: function (error) {
                    console.log(error);
                },
            })
        }
        else {
            $('#bundle').empty()
        }
    }
    function similar() {
        if ($('#similar_switch').is(':checked')) {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('mail.get_featured_similar') }}",
                dataType: 'html',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function (response) {
                    $('#similar').append(response)
                },
                error: function (error) {
                    console.log(error);
                },
            })
        }
        else {
            $('#similar').empty()
        }
    }
</script>
{% endblock %}