{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Tinify and resize</h3>
        </div>
    </div>
    <form id="uploadTiny" action="#" method="post" enctype="multipart/form-data">
    <div class="row m-4">
        <div class="col-8">
            <div class="input-group">
                    <input class="form-control w-25" type="file" name="forTiny" id="forTiny" multiple>
                    <input type="text" class="form-control" placeholder="Width" name="resize_width">
                    <button class="btn btn-outline-secondary" type="submit" id="tinyUpload" name="btn" value="tinyUpload">Upload</button>
                    <button class="btn btn-outline-secondary visually-hidden" type="button" id="tinyLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
            </div>
        </div>
    </div>
    </form>
    <div class="row m-4 "></div>
    <div class="row m-4 ">
        <div class="col-4">
            <h3>Make collage like a tile</h3>
        </div>
    </div>
    <form id="uploadLong" action="#" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-8">
                <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Size</span>
                        <input type="text" class="form-control" placeholder="width" aria-label="width" aria-describedby="basic-addon1" name="width">
                        <input type="text" class="form-control" placeholder="height" aria-label="height" aria-describedby="basic-addon1" name="height">

                        <span class="input-group-text" id="basic-addon1">Number of columns</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="n_cols" placeholder="1">

                  
                        <input class="form-control" type="file" name="forLong" id="forLong" multiple>
                        <button class="btn btn-outline-secondary" type="submit" id="longUpload" name="btn" value="longUpload">Upload</button>
                        <button class="btn btn-outline-secondary visually-hidden" type="button" id="longLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row m-4 "></div>
    <div class="row m-4 ">
        <div class="col-4">
            <h3>Make gif</h3>
        </div>
    </div>
    <form id="uploadForGif" action="#" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-8">
                <div class="input-group">
                        <input class="form-control" type="file" name="forGif" id="forGif" multiple>
                        <input type="text" class="form-control" placeholder="Prefix" name="seq_prefix">
                        <input type="text" class="form-control" placeholder="Frames per sec" name="frames_per_sec">
                        <button class="btn btn-outline-secondary" type="submit" id="gifUpload" name="btn" value="gifUpload">Upload</button>
                        <button class="btn btn-outline-secondary visually-hidden" type="button" id="gifLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    var myForm = document.getElementById('uploadTiny');
    var myFile = document.getElementById('forTiny');
    var longForm = document.getElementById('uploadLong');
    var longFile = document.getElementById('forLong');
    var gifForm = document.getElementById('uploadForGif');
    var gifFile = document.getElementById('forGif');
    myForm.onsubmit = function(event) {
        event.preventDefault();
        $('#tinyUpload').addClass('visually-hidden')
        $('#tinyLoading').removeClass('visually-hidden')
        var files = myFile.files;
        var formData = new FormData(myForm);
        $.ajax({
                type: 'POST',
                url: "{{ url_for('tools.tinify') }}",
                data: formData,
                dataType: 'binary',
                xhrFields: {
                    'responseType': 'blob'
                },
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(data, status, xhr) {
                    $('#tinyLoading').addClass('visually-hidden')
                    $('#tinyUpload').removeClass('visually-hidden')
                    var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'tiny-result.zip';
                    link.click();
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
    longForm.onsubmit = function(event) {
        event.preventDefault();
        $('#longUpload').addClass('visually-hidden')
        $('#longLoading').removeClass('visually-hidden')
        var files = longFile.files;
        var formData = new FormData(longForm);
        $.ajax({
                type: 'POST',
                url: "{{ url_for('tools.longy') }}",
                data: formData,
                dataType: 'binary',
                xhrFields: {
                    'responseType': 'blob'
                },
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(data, status, xhr) {
                    $('#longLoading').addClass('visually-hidden')
                    $('#longUpload').removeClass('visually-hidden')
                    var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'long.jpg';
                    link.click();
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
    gifForm.onsubmit = function(event) {
        event.preventDefault();
        $('#gifUpload').addClass('visually-hidden')
        $('#gifLoading').removeClass('visually-hidden')
        var files = gifFile.files;
        var formData = new FormData(gifForm);
        $.ajax({
                type: 'POST',
                url: "{{ url_for('tools.gify') }}",
                data: formData,
                dataType: 'binary',
                xhrFields: {
                    'responseType': 'blob'
                },
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(data, status, xhr) {
                    $('#gifLoading').addClass('visually-hidden')
                    $('#gifUpload').removeClass('visually-hidden')
                    var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'result.gif';
                    link.click();
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
</script>
{% endblock %}