{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Tinify and resize</h3>
        </div>
    </div>
    <form id="uploadTiny" action="#" method="post" enctype="multipart/form-data">
    <div class="row m-4">
        <div class="col-8">
            <div class="input-group">
                    <input class="form-control w-25" type="file" name="forTiny" id="forTiny" multiple>
                    <input type="text" class="form-control" placeholder="Width" name="resize_width">
                    <span class="input-group-text" id="basic-addon1">Tinify?</span>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" name="is_tinify" type="checkbox" value="" aria-label="Checkbox for following text input">
                      </div>                
                    <button class="btn btn-outline-secondary" type="submit" id="tinyUpload" name="btn" value="tinyUpload">Upload</button>
                    <button class="btn btn-outline-secondary visually-hidden" type="button" id="tinyLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
            </div>
        </div>
    </div>
    </form>
    <div class="row m-4 "></div>
    <div class="row m-4 ">
        <div class="col-4">
            <h3>Make collage like a tile</h3>
        </div>
    </div>
    <form id="uploadLong" action="#" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-8">
                <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Size</span>
                        <input type="text" class="form-control" placeholder="width" aria-label="width" aria-describedby="basic-addon1" name="width">
                        <input type="text" class="form-control" placeholder="height" aria-label="height" aria-describedby="basic-addon1" name="height">

                        <span class="input-group-text" id="basic-addon1">Number of columns</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="n_cols" placeholder="1">

                  
                        <input class="form-control" type="file" name="forLong" id="forLong" multiple>
                        <button class="btn btn-outline-secondary" type="submit" id="longUpload" name="btn" value="longUpload">Upload</button>
                        <button class="btn btn-outline-secondary visually-hidden" type="button" id="longLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row m-4 "></div>
    <div class="row m-4 ">
        <div class="col-4">
            <h3>Make gif</h3>
        </div>
    </div>
    <form id="uploadForGif" action="#" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-8">
                <div class="input-group">
                        <input class="form-control" type="file" name="forGif" id="forGif" multiple>
                        <input type="text" class="form-control" placeholder="Prefix" name="seq_prefix">
                        <input type="text" class="form-control" placeholder="Frames per sec" name="frames_per_sec">
                        <button class="btn btn-outline-secondary" type="submit" id="gifUpload" name="btn" value="gifUpload">Upload</button>
                        <button class="btn btn-outline-secondary visually-hidden" type="button" id="gifLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row m-4 ">
        <div class="col-4">
            <h3>Make long img</h3>
        </div>
    </div>
    <form id="uploadLongTile" action="#" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-8">
                <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Width</span>
                        <input type="text" class="form-control" placeholder="width" aria-label="width" aria-describedby="basic-addon1" name="width">

                        <span class="input-group-text" id="basic-addon1">Schema</span>
                        <input type="text" class="form-control" placeholder="1-2-1-1" aria-label="schema" aria-describedby="basic-addon1" name="schema">

                        <span class="input-group-text" id="basic-addon1">Border</span>
                        <input type="text" class="form-control" placeholder="0" aria-label="border" aria-describedby="basic-addon1" name="border" value="0">
                        <input type="text" class="form-control" placeholder="#FFFFFF" aria-label="border_color" aria-describedby="basic-addon1" name="border_color" value="#FFFFFF">
                  
                        <input class="form-control" type="file" name="forLongTile" id="forLongTile" multiple>
                        <button class="btn btn-outline-secondary" type="submit" id="longTileUpload" name="btn" value="longTileUpload">Upload</button>
                        <button class="btn btn-outline-secondary visually-hidden" type="button" id="longTileLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    var myForm = document.getElementById('uploadTiny');
    var myFile = document.getElementById('forTiny');
    var longForm = document.getElementById('uploadLong');
    var longFile = document.getElementById('forLong');
    var longTileForm = document.getElementById('uploadLongTile');
    var longTileFile = document.getElementById('forLongTile');
    var gifForm = document.getElementById('uploadForGif');
    var gifFile = document.getElementById('forGif');

    var num_files = 0;
    const max_attempts = 24;

    function Checker(prefix, attempts, cancel_func, check_url){
        var formData = new FormData();
        formData.append('prefix', prefix);
        $.ajax({
                type: 'POST',
                url: check_url,
                data: formData,
                dataType: 'json',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(response) {
                    if(response.status === 'in work'){
                        if(attempts < max_attempts){
                            console.log(attempts)
                            setTimeout(Checker, 5000, prefix, attempts + 1, cancel_func, check_url);
                        } else {
                            cancel_func();
                        }
                    } else {
                        cancel_func();
                        var link = document.createElement('a');
                        link.href = response.url;
                        link.click();
                    }
                },
                error: function(error) {
                    if(attempts < max_attempts){
                        console.log(attempts)
                        setTimeout(Checker, 5000, prefix, attempts + 1, cancel_func, check_url);
                    } else {
                        cancel_func();
                    }      
                },
                
            });
    }
    function sendToWorker(prefix, formData, url, cancel_func, check_url){
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                Checker(prefix, 0, cancel_func, check_url)
            },
            error: function(error) {
                console.log(error);
            },
                
        });
    }

    function uploadFile(file, s3Data, url, prefix, formData, w_url, cancel_func, check_url){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            num_files -= 1;
            if(num_files === 0){
                sendToWorker(prefix, formData, w_url, cancel_func, check_url)
            };
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    function getSignedRequest(file, prefix, formData, url, cancel_func, check_url){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `{{ url_for('tools.prepare_s3_url') }}?filename=${file.name}&content_type=${file.type}&prefix=${prefix}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.data, response.url, prefix, formData, url, cancel_func, check_url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    function initUpload(prefix, files, formData, url, cancel_func, check_url){
      num_files = files.length;
      for(let file of files){
        getSignedRequest(file, prefix, formData, url, cancel_func, check_url);
      }
    }

    myForm.onsubmit = function(event) {
        event.preventDefault();
        $('#tinyUpload').addClass('visually-hidden')
        $('#tinyLoading').removeClass('visually-hidden')
        const files = myFile.files;
        const prefix = 'tiny_' + Date.now()
        var local_formData = new FormData(myForm);
        var formData = new FormData();
        formData.append('prefix', prefix);
        formData.append('resize_width', local_formData.get('resize_width'))
        formData.append('is_tinify', local_formData.get('is_tinify'))
        var cancel_func = function(){
            $('#tinyLoading').addClass('visually-hidden')
            $('#tinyUpload').removeClass('visually-hidden')
        }
        initUpload(prefix, files, formData, '{{ url_for("tools.tinify") }}', cancel_func, '{{ url_for("tools.tiny_check") }}')
    };
    longForm.onsubmit = function(event) {
        event.preventDefault();
        $('#longUpload').addClass('visually-hidden')
        $('#longLoading').removeClass('visually-hidden')
        const prefix = 'tile_' + Date.now()
        const files = longFile.files;
        var local_formData = new FormData(longForm);
        var formData = new FormData();
        formData.append('prefix', prefix);
        formData.append('num_files', files.length);
        formData.append('width', local_formData.get('width'))
        formData.append('height', local_formData.get('height'))
        formData.append('n_cols', local_formData.get('n_cols'))
        var cancel_func = function(){
            $('#longLoading').addClass('visually-hidden')
            $('#longUpload').removeClass('visually-hidden')
        }
        initUpload(prefix, files, formData, '{{ url_for("tools.longy") }}', cancel_func, '{{ url_for("tools.long_tile_check") }}')
    };
    gifForm.onsubmit = function(event) {
        event.preventDefault();
        $('#gifUpload').addClass('visually-hidden')
        $('#gifLoading').removeClass('visually-hidden')
        var files = gifFile.files;
        var formData = new FormData(gifForm);
        $.ajax({
                type: 'POST',
                url: "{{ url_for('tools.gify') }}",
                data: formData,
                dataType: 'binary',
                xhrFields: {
                    'responseType': 'blob'
                },
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(data, status, xhr) {
                    $('#gifLoading').addClass('visually-hidden')
                    $('#gifUpload').removeClass('visually-hidden')
                    var blob = new Blob([data], {type: xhr.getResponseHeader('Content-Type')});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'result.gif';
                    link.click();
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
    longTileForm.onsubmit = function(event) {
        event.preventDefault();
        $('#longTileUpload').addClass('visually-hidden')
        $('#longTileLoading').removeClass('visually-hidden')
        const files = longTileFile.files;
        const prefix = 'long_tile_' + Date.now()
        var local_formData = new FormData(longTileForm);
        var formData = new FormData();
        formData.append('prefix', prefix);
        formData.append('num_files', longTileFile.files.length);
        formData.append('width', local_formData.get('width'))
        formData.append('schema', local_formData.get('schema'))
        formData.append('border', local_formData.get('border'))
        formData.append('border_color', local_formData.get('border_color'))
        var cancel_func = function(){
            $('#longTileLoading').addClass('visually-hidden')
            $('#longTileUpload').removeClass('visually-hidden')
        }
        initUpload(prefix, files, formData, '{{ url_for("tools.long_tile") }}', cancel_func, '{{ url_for("tools.long_tile_check") }}')
    };
</script>
{% endblock %}