{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <h1>Finance statement - {{ name }}, $</h1>
        </div>
        <div class="col-2 offset-md-4" name="yearSelect">
            <select class="form-select" id='year'>
                <option selected>2022</option>
                <option value="1">2021</option>
                <option value="2">2020</option>
                <option value="3">2019</option>
                <option value="3">2018</option>
                <option value="3">2017</option>
              </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h2>Profit</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="profitGraph"></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h2>Expenses</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="expenseGraph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr name="plusFreebieExpenseTableHeader">
                  </tr>
                </thead>
                <tbody name="plusFreebieExpenseTableBody">
                </tbody>
              </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h2>Incomes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="incomeGraph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr name="plusFreebieIncomeTableHeader">
                  </tr>
                </thead>
                <tbody name="plusFreebieIncomeTableBody">
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 align-items-center">
        <div class="col-4" id="filter_cats">
            <div class="row">
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="show_income" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Income</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="show_expense" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Expense</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Category</th>
                  </tr>
                </thead>
                <tbody id="transaction_rows">
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.8.3.min.js') }}"></script>
<script>
    filter_transactions = function(){
        var show_income = $('#show_income').is(':checked')
        var show_expense = $('#show_expense').is(':checked')
        for (trans_row of $('#transaction_rows tr')){
            if (trans_row.getAttribute('name') == 'Income' & show_income) {
                $(trans_row).removeClass('visually-hidden')
            } else if (trans_row.getAttribute('name') == 'Expense' & show_expense) {
                $(trans_row).removeClass('visually-hidden')
            } else {
                $(trans_row).addClass('visually-hidden')
            }
        }
    }
</script>
<script>
    var expenseGraph = document.getElementById('expenseGraph');
    var incomeGraph = document.getElementById('incomeGraph');
    var profitGraph = document.getElementById('profitGraph');
    var layout = {
        showlegend: true,
        barmode: 'stack'
    }
    var profit_layout = {
        showlegend: false
        };
    refresh = function (year) {
        var formData = new FormData();
        formData.append('year', year)
        formData.append('site_name', '{{ name }}')
        $.ajax({
            type: 'POST',
            url: "{{ api_url }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                for(fin_data of response.expense_graphs){
                    $("tr[name='plusFreebieExpenseTableHeader']").empty();
                    $("tr[name='plusFreebieExpenseTableHeader']").append('<th scope="col">Category/Month</th>')
                    for(x of fin_data.x){
                        $("tr[name='plusFreebieExpenseTableHeader']").append('<th scope="col">'+x+'</th>')
                    }
                    break
                }
                var plusFreebieExpenseTableBody = $("tbody[name='plusFreebieExpenseTableBody']")
                plusFreebieExpenseTableBody.empty();
                for(fin_data of response.expense_graphs){
                    var row = '<tr>';
                    row += '<th scope="row">'+fin_data.name+'</th>';
                    for(y of fin_data.y){
                        row += '<td>'+y+'</td>';
                    }
                    row += '</tr>';
                    plusFreebieExpenseTableBody.append(row);
                }
                
                for(fin_data of response.income_graphs){
                    $("tr[name='plusFreebieIncomeTableHeader']").empty();
                    $("tr[name='plusFreebieIncomeTableHeader']").append('<th scope="col">Category/Month</th>')
                    for(x of fin_data.x){
                        $("tr[name='plusFreebieIncomeTableHeader']").append('<th scope="col">'+x+'</th>')
                    }
                    break
                }
                var plusFreebieIncomeTableBody = $("tbody[name='plusFreebieIncomeTableBody']");
                plusFreebieIncomeTableBody.empty();
                for(fin_data of response.income_graphs){
                    var row = '<tr>';
                    row += '<th scope="row">'+fin_data.name+'</th>';
                    for(y of fin_data.y){
                        row += '<td>'+y+'</td>';
                    }
                    row += '</tr>';
                    plusFreebieIncomeTableBody.append(row);
                }
                Plotly.newPlot(profitGraph, response.profit_graphs, profit_layout, {'displayModeBar': false});
                Plotly.newPlot(expenseGraph, response.expense_graphs, layout, {'displayModeBar': false});
                Plotly.newPlot(incomeGraph, response.income_graphs, layout, {'displayModeBar': false});
                
                $('#transaction_rows').empty();
                for(row_transaction of response.rows){
                    var tr_class = '';
                    if (row_transaction.base_category == 'Income') {
                        tr_class = 'table-success';
                    } else if (row_transaction.base_category == 'Expense') {
                        tr_class = 'table-danger';
                    }
                    $('#transaction_rows').append('<tr class="'+tr_class+'" name="'+row_transaction.base_category+'"><td scope="row">'+row_transaction.date+'</td><td>'+row_transaction.value+'</td><td>'+row_transaction.comment+'</td><td>'+row_transaction.category+'</td>');

                }
                filter_transactions();
            },
            error: function(error) {
                console.log(error);
            },
        })
    };

    $(function(){
        $('#filter_cats').change(function(){
            filter_transactions();
        });
        refresh($('#year option:selected').text())
        $('#year').change(function () {
            console.log($('#year option:selected').text())
            refresh($('#year option:selected').text())
        })
        
    });
</script>
{% endblock %}