{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}">
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="row d-flex justify-content-start mt-4"> 
        <div class="col-6">
            <div class="row mt-4">
                <h1>Transactions</h1>
            </div>
            <form id="post_transaction" action="#" method="post" enctype="multipart/form-data">
                <div class="row mt-4">
                    <div class="col-3" id="sandbox-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" name="date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="text" aria-label="Sum" id="sum" name="sum" placeholder="Value" class="form-control  w-50">
                            <select class="form-select" id="currency" name="сurrency">
                                {% for сurrency in сurrencies.items %}
                                <option value="{{ сurrency.id }}">{{ сurrency.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <select class="form-select" id="base_categories" name="cat-0">
                            <option selected value="temp">...</option>
                            {% for base_category in categories.children %}
                                <option value="{{ base_category.id }}">{{ base_category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-4 visually-hidden" id="cattegory_row">
                    <div class="col-12">
                        <div class="input-group" id="categories">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-9">
                        <input type="text" aria-label="Comment" placeholder="Comment" class="form-control" name="comment" id="comment">
                    </div>
                    <div class="col-3">
                        <select class="form-select" id="from_money" name="from_money">
                            <option selected value="">Common</option>
                            {% for base_category in categories.children %}
                                {% if base_category.name == 'Balance' %}
                                    {% for balance in base_category.children %}
                                        <option value="{{ balance.id }}">{{ balance.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <button class="btn btn-outline-success w-100" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-5 offset-md-1">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">
                            <div id="stat_first_datepicker">
                                <div class="input-daterange input-group input-group-sm" id="datepicker">
                                    <input type="text" class="form-control" name="start" aria-describedby="inputGroup-sizing-sm" />
                                    <span class="input-group-text" id="inputGroup-sizing-sm">to</span>
                                    <input type="text" class="form-control" name="end" aria-describedby="inputGroup-sizing-sm" />
                                </div>
                            </div>
                          </th>
                          <th scope="col">
                            <div id="stat_sec_datepicker">
                                <div class="input-daterange input-group input-group-sm" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" />
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="input-sm form-control" name="end" />
                                </div>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Income</th>
                          <td name="first_stat_income"></td>
                          <td name="sec_stat_income"></td>
                        </tr>
                        <tr>
                            <th scope="row">Expense</th>
                            <td name="first_stat_expense"></td>
                            <td name="sec_stat_expense"></td>
                        </tr>
                        <tr>
                            <th scope="row">Profit</th>
                            <td name="first_stat_profit"></td>
                            <td name="sec_stat_profit"></td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for сurrency in сurrencies.items %}
                                <th scope="col">{{ сurrency.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in accounts_cat.children %}
                        <tr>
                            <th scope="row">{{ child.name[5:] }}</th>
                            {% for сurrency in сurrencies.items %}
                                <td name="debt_{{ child.name[5:] }}_{{ сurrency.name }}">0</th>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 align-items-center">
        <div class="col-3">
            <div id="from_date">
                <div id="sandbox-container">
                    <div class="input-group date">
                        <span class="input-group-text" id="basic-addon1">from</span>
                        <input type="text" class="form-control" name="from_date" aria-label="from_date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 offset-md-1">
            <input type="text" aria-label="Search" id="search_req" name="search_req" placeholder="Search" class="form-control">
        </div>
        <div class="col-4 offset-md-1" id="filter_cats">
            <div class="row">
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="show_income" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Income</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="show_expense" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Expense</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="show_balance" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Balance</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="transaction_rows">
                </tbody>
              </table>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="spinner-grow visually-hidden" role="status" id="next_page_point">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-outline-secondary w-100" id="next_page">More</button>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn btn-danger" id="rm_trans_btn" name="trans_id">Del</button>
    <h5 id="offcanvasRightLabel">Transaction #<span id="edit_trans_id"></span></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id='btn_close_offcnv'></button>
  </div>
  <div class="offcanvas-body">
    <div class="continer">
        <form id="edit_transaction" action="#" method="post" enctype="multipart/form-data">
            <input type="text" class="form-control d-none" name="trans_id" id="trans_id_offcnv">
            <div class="row">
                <div class="col-12" id="sandbox-container">
                    <div class="input-group date offcnv">
                        <input type="text" class="form-control" name="date" ><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" aria-label="Sum" id="sum_offcnv" name="sum" placeholder="Value" class="form-control  w-50">
                        <select class="form-select" id="currency_offcnv" name="сurrency">
                            {% for сurrency in сurrencies.items %}
                            <option value="{{ сurrency.id }}">{{ сurrency.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <input type="text" aria-label="Comment" placeholder="Comment" class="form-control" name="comment" id="comment_offcnv">
                    <h6 class="mt-5">Categories:</h6>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12" id="ofcnv_categories">
                    <select class="form-select" id="base_categories" name="cat-offcnv-0">
                        <option selected value="temp">...</option>
                        {% for base_category in categories.children %}
                            <option value="{{ base_category.id }}">{{ base_category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button type="submit" class="btn btn-info w-100">Edit</button>
                </div>
            </div>
        </form>
    </div>
    
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.en.min.js') }}"></script>
<script>
    var today = new Date();
    var last_month = new Date();
    last_month.setMonth(last_month.getMonth()-1)
    
    $('#sandbox-container .input-group.date').datepicker({
        format: "dd-mm-yyyy",
        weekStart: 1,
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
    $('#sandbox-container .input-group.date').datepicker('update', today);
    $('#stat_first_datepicker .input-daterange').datepicker({
        format: "mm-yyyy",
        weekStart: 0,
        startView: 1,
        minViewMode: 1,
        autoclose: true,
        todayHighlight: true,
    });
    
    $('#stat_first_datepicker .input-daterange [name="start"]').datepicker('update', today);
    $('#stat_first_datepicker .input-daterange [name="end"]').datepicker('update', today);
    $('#stat_sec_datepicker .input-daterange').datepicker({
        format: "mm-yyyy",
        weekStart: 0,
        startView: 1,
        minViewMode: 1,
        autoclose: true,
        todayHighlight: true,
    });
    $('#stat_sec_datepicker .input-daterange [name="start"]').datepicker('update', last_month);
    $('#stat_sec_datepicker .input-daterange [name="end"]').datepicker('update', last_month);
    $('#stat_first_datepicker .input-daterange [name="end"]').change(function(params){
        console.log($('#stat_first_datepicker .input-daterange [name="end"]').val())
    })
</script>
<script>
    var stat_refresh = function () {
        var formData = new FormData();
        formData.append('first_stat_start', $('#stat_first_datepicker .input-daterange [name="start"]').val())
        formData.append('first_stat_end', $('#stat_first_datepicker .input-daterange [name="end"]').val())
        formData.append('sec_stat_start', $('#stat_sec_datepicker .input-daterange [name="start"]').val())
        formData.append('sec_stat_end', $('#stat_sec_datepicker .input-daterange [name="end"]').val())
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_short_stat') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                $('td[name=first_stat_income]').empty()
                $('td[name=first_stat_income]').append('$' + response.first_col.income / 100)
                $('td[name=first_stat_expense]').empty()
                $('td[name=first_stat_expense]').append('$' + response.first_col.expense / 100)
                $('td[name=first_stat_profit]').empty()
                $('td[name=first_stat_profit]').append('$' + response.first_col.profit / 100)
                $('td[name=sec_stat_income]').empty()
                $('td[name=sec_stat_income]').append('$' + response.sec_col.income / 100)
                $('td[name=sec_stat_expense]').empty()
                $('td[name=sec_stat_expense]').append('$' + response.sec_col.expense / 100)
                $('td[name=sec_stat_profit]').empty()
                $('td[name=sec_stat_profit]').append('$' + response.sec_col.profit / 100)
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            },
        })
    }
</script>
<script>
    $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_stats_selector') }}",
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                var stat_selects = response;
                var stat_cols = [$('select[name=first_stat]'), $('select[name=sec_stat]')];
                for(stat_col of stat_cols){
                    stat_col.empty()
                }
                $('select[name=first_stat]').append('<option selected value="'+stat_selects.cur_month.value+'">'+stat_selects.cur_month.name+'</option>')
                $('select[name=first_stat]').append('<option value="'+stat_selects.last_month.value+'">'+stat_selects.last_month.name+'</option>')
                $('select[name=sec_stat]').append('<option value="'+stat_selects.cur_month.value+'">'+stat_selects.cur_month.name+'</option>')
                $('select[name=sec_stat]').append('<option selected value="'+stat_selects.last_month.value+'">'+stat_selects.last_month.name+'</option>')
                for(stat_col of stat_cols){
                    if(stat_selects.Q1 != undefined){
                        stat_col.append('<option value="'+stat_selects.Q1.value+'">'+stat_selects.Q1.name+'</option>')
                    }
                    if(stat_selects.Q2 != undefined){
                        stat_col.append('<option value="'+stat_selects.Q2.value+'">'+stat_selects.Q2.name+'</option>')
                    }
                    if(stat_selects.Q3 != undefined){
                        stat_col.append('<option value="'+stat_selects.Q3.value+'">'+stat_selects.Q3.name+'</option>')
                    }
                    if(stat_selects.Q4 != undefined){
                        stat_col.append('<option value="'+stat_selects.Q4.value+'">'+stat_selects.Q4.name+'</option>')
                    }
                    stat_col.append('<option value="'+stat_selects.cur_year.value+'">'+stat_selects.cur_year.name+'</option>')
                    stat_col.append('<option value="'+stat_selects.last_year.value+'">'+stat_selects.last_year.name+'</option>')
                    stat_col.append('<option value="'+stat_selects.last_last_year.value+'">'+stat_selects.last_last_year.name+'</option>')
                }
            stat_refresh()
            },
            error: function(error) {
                console.log(error);
            },
        })
    $('#stat_first_datepicker .input-daterange [name="start"]').change(function (params) {
        stat_refresh();
    });
    $('#stat_first_datepicker .input-daterange [name="end"]').change(function (params) {
        stat_refresh();
    });
    $('#stat_sec_datepicker .input-daterange [name="start"]').change(function (params) {
        stat_refresh();
    });
    $('#stat_sec_datepicker .input-daterange [name="end"]').change(function (params) {
        stat_refresh();
    });
    
</script>
<script>
    var cat_childrens;
    var i = 1;
    $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_categories') }}",
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                cat_childrens = response;
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            },
        })
    var manage_select = function(element, cat_childrens, i){
        $(element).find('option[value=temp]').remove()
        $(element).nextAll().remove();
        sub_cats = cat_childrens[Number($(element).val())]
        if (sub_cats.length == 0) {
            return
        }
        $(element).after('<select class="form-select" name="cat-'+i+'"></select>');
        new_elem = $(element).parent().find('select:last-child')
        new_elem.append('<option value="temp">...</option>')
        for (let value of sub_cats) {
            var option = '<option value="'+value[0]+'">'+value[1]+'</option>'
            new_elem.append(option);
        }
    }
    $('#categories').change( function(event){
        let target = event.target;
        manage_select(target, cat_childrens, i);
        i++;
    })
    $('#base_categories').change(function(){
        $('#base_categories option[value=temp]').remove();
        $('#cattegory_row').removeClass('visually-hidden');
        $('#categories').empty()
        $('#categories').append('<select class="form-select" name="cat-'+i+'"></select>')
        $('select[name=cat-'+i+']').append('<option value="temp">...</option>');
        for (let value of cat_childrens[Number($('#base_categories').val())]) {
            var option = '<option value="'+value[0]+'">'+value[1]+'</option>'
            $('select[name=cat-'+i+']').append(option);
        }
        if ($('#base_categories').val() == {{ accounts_cat.id }}) {
            $('#from_money option:first').prop('selected', true);
            $('#from_money').prop('disabled', true)
        }

        if ($('#base_categories').val() == {{ income_cat.id }}) {
            $('#from_money option:first').prop('selected', true);
            $('#from_money').prop('disabled', true)
        }

        if ($('#base_categories').val() == {{ expence_cat.id }}) {
            $('#from_money option:first').prop('selected', true);
            $('#from_money').prop('disabled', false)
        }
        i++;
    })

    prepareEditForm = function(trans_id) {
        var formData = new FormData();
        formData.append('trans_id', trans_id)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_transaction') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data) {
                $('#edit_trans_id').text(data.id)
                $('#rm_trans_btn').val(data.id)
                $('#trans_id_offcnv').val(data.id)
                $('#sandbox-container .input-group.date.offcnv').datepicker('update', new Date(data.date));
                var value = data.value / 100;
                $('#sum_offcnv').val(value.toFixed(2));
                $('#currency_offcnv').val(data.currency_id)
                $('#comment_offcnv').val(data.comment)
                $('select[name=cat-offcnv-0]').val(data.category_id_path[0])
                manage_edit_select('select[name=cat-offcnv-0]', cat_childrens, i)
                for(cat_id of data.category_id_path.slice(1)) {
                    slc = 'select[name=cat-offcnv-'+i+']'
                    $(slc).val(cat_id)
                    i++;
                    manage_edit_select(slc, cat_childrens, i)
                }
                i++;
            },
            error: function(error) {
                console.log(error);
            },      
        });

    }
    manage_edit_select = function(element, cat_childrens, i) {
        $(element).find('option[value=temp]').remove()
        $(element).nextAll().remove();
        sub_cats = cat_childrens[Number($(element).val())]
        if (sub_cats.length == 0) {
            return
        }
        $(element).after('<select class="form-select my-2" name="cat-offcnv-'+i+'"></select>');
        new_elem = $(element).parent().find('select:last-child')
        new_elem.append('<option value="temp">...</option>')
        for (let value of sub_cats) {
            var option = '<option value="'+value[0]+'">'+value[1]+'</option>'
            new_elem.append(option);
        }
    }
    $('#ofcnv_categories').change( function(event){
        let target = event.target;
        manage_edit_select(target, cat_childrens, i);
        i++;
    })
</script>
<script>
    var trasactionForm = document.getElementById('post_transaction');
    trasactionForm.onsubmit = function(event) {
        event.preventDefault();
        var formData = new FormData(trasactionForm);
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.post_transaction') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data) {
                $('#sum').val('')
                $('#comment').val('')
                refresh_transactions()
                stat_refresh()
            },
            error: function(error) {
                console.log(error);
            },
                
        });
    };
</script>
<script>
    var editTrasactionForm = document.getElementById('edit_transaction');
    editTrasactionForm.onsubmit = function(event) {
        event.preventDefault();
        var formData = new FormData(editTrasactionForm);
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.post_transaction') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data) {
                $('#btn_close_offcnv').click()
                refresh_transactions()
                stat_refresh()
            },
            error: function(error) {
                console.log(error);
            },
                
        });
    };
</script>
<script>
    $('#rm_trans_btn').on('click', function(event) {
        event.preventDefault();
        var formData = new FormData();
        formData.append('trans_id', $('#rm_trans_btn').val())
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.rm_transaction') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(data) {
                $('#btn_close_offcnv').click()
                refresh_transactions()
            },
            error: function(error) {
                console.log(error);
            },
                
        });
    });
</script>
<script>
    filter_transactions = function(){
        var show_income = $('#show_income').is(':checked')
        var show_expense = $('#show_expense').is(':checked')
        var show_balance = $('#show_balance').is(':checked')
        for (trans_row of $('#transaction_rows tr')){
            if (trans_row.getAttribute('name') == 'Income' & show_income) {
                $(trans_row).removeClass('visually-hidden')
            } else if (trans_row.getAttribute('name') == 'Expense' & show_expense) {
                $(trans_row).removeClass('visually-hidden')
            } else if (trans_row.getAttribute('name') == 'Balance' & show_balance) {
                $(trans_row).removeClass('visually-hidden')
            } else {
                $(trans_row).addClass('visually-hidden')
            }
        }
    }
</script>
<script>
    var page = 0;
    refresh_transactions = function(page){
        var formData = new FormData();

        formData.append('from_date', $('input[name=from_date]').val())
        formData.append('search_req', $('input[name=search_req]').val())
        if(page) {
            formData.append('page', page);
        } else {
            $('#transaction_rows').empty();
            page = 1;
        }
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_transactions') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                var transactions = response;
                for(row_transaction of transactions.rows){
                    var tr_class = '';
                    if (row_transaction.base_category == 'Income') {
                        tr_class = 'table-success';
                    } else if (row_transaction.base_category == 'Expense') {
                        tr_class = 'table-danger';
                    }
                    $('#transaction_rows').append('<tr class="'+tr_class+'" name="'+row_transaction.base_category+'"><td scope="row">'+row_transaction.date+'</td><td>'+row_transaction.value+'</td><td>'+row_transaction.comment+'</td><td>'+row_transaction.category+'</td><td class="d-flex justify-content-center"><button type="button" class="btn btn-info btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" id="edit_button" onclick="prepareEditForm('+row_transaction.id+')">Edit</button></td>');

                }
                filter_transactions();
            },
            error: function(error) {
                console.log(error);
            },
        })
        $.ajax({
            type: 'POST',
            url: "{{ url_for('money.get_balance') }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                for(acc of response.accs){
                    for(debt of acc.debt){
                        $('td[name=debt_'+acc.name.slice(5)+'_'+debt.name+']').empty()
                        $('td[name=debt_'+acc.name.slice(5)+'_'+debt.name+']').append(Number(debt.value)/100 * -1)
                    }
                }
            },
            error: function(error) {
                console.log(error);
            },
        })
    }
    refresh_transactions();
    
    $('#from_date').change(function(){
        page = 0
        refresh_transactions();
    });
    $('#search_req').change(function(){
        page = 0
        refresh_transactions();
    });
    $('#filter_cats').change(function(){
        page = 0
        filter_transactions();
    });
    // $(window).scroll(function() {
    //     var scroll = $(window).scrollTop() + $(window).height();
    //     var offset = $('#next_page_point').offset().top;
    //     if (scroll > offset) {
    //         $('#next_page_point').removeClass('visually-hidden')
    //         page++;
    //         refresh_transactions(page);
    //         $('#next_page_point').addClass('visually-hidden')
    //     }
    // });
    $('#next_page').on('click', function(){
        page++;
        refresh_transactions(page);
    })
</script>
{% endblock %}