{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-5">
            <h1>Plus subscriptions report</h1>
        </div>
        <div class="col-2 mt-2">
            <select class="form-select" aria-label="Default select example" id="period">
                <option selected value="all">All</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        <div class="col-5 mt-2">
            <h3>MRR $<span id="mrr"></span> | YRR $<span id="yrr"></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="subsGraph"></div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <div id="flowDataGraph"></div>
        </div>
    </div> -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.8.3.min.js') }}"></script>
<script>
    var subsGraph = document.getElementById('subsGraph');
    var flowDataGraph = document.getElementById('flowDataGraph');
    var month_gross_usd = 0;
    var year_gross_usd = 0;

    var subs_layout = {
        showlegend: true,
        yaxis: {},
        yaxis2: {
            overlaying: 'y',
            side: 'right'
        }
        };
    var flow_data_layout = {
        showlegend: true,
        };
    refresh = function () {
        var formData = new FormData();
        $.ajax({
            type: 'POST',
            url: "{{ api_url }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                month_gross_usd = response.month_gross_usd
                year_gross_usd = response.year_gross_usd
                refresh_rr()
                Plotly.newPlot(subsGraph, response.gross_data, subs_layout, {'displayModeBar': false});
                // Plotly.newPlot(flowDataGraph, response.flow_data, flow_data_layout, {'displayModeBar': false});
            },
            error: function(error) {
                console.log(error);
            },
        })
    };

    refresh_rr = function () {
        var period = $('#period').val()
        var mrr = 0
        var yrr = 0
        if (period == "all") {
            mrr = Math.round((month_gross_usd + year_gross_usd / 12) / 100);
            yrr = Math.round((month_gross_usd * 12 + year_gross_usd) / 100);
        } else if (period == "month") {
            mrr = Math.round((month_gross_usd) / 100);
            yrr = Math.round((month_gross_usd * 12) / 100);
        } else if (period == "year"){
            mrr = Math.round((year_gross_usd / 12) / 100);
            yrr = Math.round((year_gross_usd) / 100);
        }

        var mrr_format = new Intl.NumberFormat().format(mrr);
        var yrr_format = new Intl.NumberFormat().format(yrr);
        $("#mrr").empty()
        $("#yrr").empty()
        $("#mrr").append(mrr_format)
        $("#yrr").append(yrr_format)
    };
    $(function(){
        refresh($('#year option:selected').text())
        $('#year').change(function () {
            refresh($('#year option:selected').text())
        })
        
    });
    $('#period').change(function(){
        refresh_rr();
    });
</script>
{% endblock %}