{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <h1>Plus subscriptions report</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="subsGraph"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.8.3.min.js') }}"></script>
<script>
    var subsGraph = document.getElementById('subsGraph');
    var subs_layout = {
        showlegend: true,
        yaxis: {},
        yaxis2: {
            overlaying: 'y',
            side: 'right'
        }
        };
    refresh = function () {
        var formData = new FormData();
        $.ajax({
            type: 'POST',
            url: "{{ api_url }}",
            data: formData,
            dataType: 'json',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                Plotly.newPlot(subsGraph, response.plus_graphs, subs_layout, {'displayModeBar': false});
            },
            error: function(error) {
                console.log(error);
            },
        })
    };

    $(function(){
        refresh($('#year option:selected').text())
        $('#year').change(function () {
            refresh($('#year option:selected').text())
        })
        
    });
</script>
{% endblock %}