{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Products</h3>
        </div>
    </div>
    <div class="row" id="filters">
        <div class="col-3">
            <select class="form-select form-select-sm" id="designer_filter">
                <option selected value="all">All designers</option>
                {% for designer in page_data.designers %}
                  <option value="{{ designer.ident }}">{{ designer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-3">
            <select class="form-select form-select-sm" id="category_filter">
                <option selected value="all">All categories</option>
                {% for category in page_data.categories %}
                  <option value="{{ category.ident }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-5">
            <div class="input-group input-group-sm">
                <span class="input-group-text">End design date</span>
                <input type="text" class="input-sm form-control" name="start_date" >
                <span class="input-group-text">to</span>
                <input type="text" class="input-sm form-control" name="end_date" >
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-secondary btn-sm" id="clear_btn">Clear</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" id="filter">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" id="product_page">
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    const today = new Date();
    const firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1); 
var start_config = {
    altInput: true,
    altFormat: "d-m-Y",
    dateFormat: "Y-m-d",
    defaultDate: firstDayOfMonth,
}
  var end_config = {
    altInput: true,
    altFormat: "d-m-Y",
    dateFormat: "Y-m-d",
    defaultDate: today,
  };
  $('input[name="start_date"]').flatpickr(start_config);
  $('input[name="end_date"]').flatpickr(end_config);
</script>
<script>
    refresh_products = function(page){
        var formData = new FormData();
        formData.append('page', page)
        formData.append('designer', $('#designer_filter').val())
        formData.append('category', $('#category_filter').val())
        formData.append('end_design_date_datepicker_start', $('input[name="start_date"]').val())
        formData.append('end_design_date_datepicker_end', $('input[name="end_date"]').val())
        $.ajax({
            type: 'POST',
            url: "{{ url_for('products.product_list') }}",
            data: formData,
            dataType: 'html',
            contentType: false,
            cache: false,
            mimeType: "multipart/form-data",
            processData: false,
            success: function(response) {
                $('#product_page').empty()
                $("#product_page").append(response)
            },

            error: function(error) {
                console.log(error);
            },
        })
    }
    refresh_products(1);
    $('#filters').change(function(){
        refresh_products(1);
    })
    $('#clear_btn').click(function(){
        $('#end_design_date_datepicker .input-daterange [name="start"]').datepicker('update', '');
        $('#end_design_date_datepicker .input-daterange [name="end"]').datepicker('update', '');
        $('#designer_filter option:first').prop('selected', true);
        $('#category_filter option:first').prop('selected', true);
        refresh_products(1);
    })

</script>
{% endblock %}
<script>
    // $('#from_date').change(function(){
    //     page = 0
    //     refresh_transactions();
    // });
</script>