{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <form method="post" action="{{ url_for('tag_board') }}" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-4">
                <h1>Stock's tag helper</h1>
            </div>
            <div class="col-3 offset-md-5">
              <div class="my-3">
                  <div class="input-group">
                          <input class="form-control" type="file" name="xlsx" id="formFileMultiple" multiple>
                          <button class="btn btn-outline-secondary" type="submit" name="btn" value="upload" id="button-addon2">Upload</button>
                  </div>
              </div>
            </div>
        </form>

    
    </div>

    <form method="post" action="{{ url_for('tag_board') }}" enctype="multipart/form-data">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <div class="input-group m-3">
                        <input type="text" class="form-control" aria-label="Search" placeholder="Search" name="search_resp">
                        <button class="btn btn-outline-secondary" type="submit" name="btn" value="search_by_title" id="button-addon2">By title</button>
                        <button class="btn btn-outline-secondary" type="submit" name="btn" value="search_by_tag" id="button-addon2">By tag</button>
                </div>
            </div>
        </div>
    </form>

    {% if search_result.items %}
    <div class="row m-4">
        <div class="col-8">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Tags</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in search_result.items %}
                    <tr>
                      <td scope="row">{{item.title}}</td>
                      <td>{{ item.tags|join(', ') }}</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
        <div class="col 3 offset-md-1">
            <ul class="list-group list-group-flush">
              {% for tag, stat in search_result.tags_stat %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ tag }}
                  <span class="badge bg-secondary">{{ stat }}</span>
                </li>
              {% endfor %}
              </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}