{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-4">
            <h3>Link dealer</h3>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-10">
            <form id="get_utm" action="#" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input name="link" type="text" class="form-control w-25" placeholder="URL" aria-describedby="addon-wrapping">
                    <select name="item_type" class="form-select" id="inputGroupSelect01">
                        <option value="plus">Plus</option>
                        <option value="premium">Premium</option>
                        <option value="freebie">Freebie</option>
                    </select>
                    <input name="project" type="text" class="form-control" placeholder="Optional company" aria-describedby="addon-wrapping">
                    <select name="source" class="form-select" id="inputGroupSelect01">
                        <option value="dribbble">Dribbble</option>
                        <option value="behance">Behance</option>
                        <option value="pinterest">Pinterest</option>
                        <option value="youtube">Youtube</option>
                        <option value="facebook">Facebook</option>
                        <option value="twitter">Twitter</option>
                        <option value="instagram">Instagram</option>
                        <option value="pixelbuddha_article">PB article</option>
                        <option value="pixelbuddha_push">PB push</option>
                        <option value="email_digest">Email digest</option>
                        <option value="email_exclusive">Email exclusive</option>
                        <option value="thedesignest_email">TD email</option>
                        <option value="thedesignest_article">TD article</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Get utm</button>
                </div> 
            </form>             
        </div>
    </div>
    <div class="row m-4">
        <div class="col-10">
            <table id="link_table" class="table table-striped visually-hidden">
                <thead>
                  <tr>
                    <th scope="col">to</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody name="body_link_table">
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var utm_form = document.getElementById('get_utm');
    var body_link_table = $('tbody[name=body_link_table]')
    utm_form.onsubmit = function(event) {
        event.preventDefault();
        var formData = new FormData(utm_form);
        $.ajax({
                type: 'POST',
                url: "{{ url_for('tools.get_utm') }}",
                data: formData,
                data: formData,
                dataType: 'json',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(data, status, xhr) {
                    
                    $('#link_table').removeClass("visually-hidden");
                    body_link_table.empty();
                    for(utm of data.utms){
                        body_link_table.append('<tr><td>' + utm.desc + '</td><td><a target="_blank" href="' + utm.link + '">'+ utm.link +'</a></td></tr>');
                    }
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    };
</script>
{% endblock %}