{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <h3>Link dealer</h3>
        </div>
        <div class="col-6 offset-3">
            <div class="form-floating">
                <select class="form-select" id="user" aria-label="User">
                    <option selected></option>
                </select>
                <label for="user">User</label>
            </div>
        </div>
    </div>
    <div class="row mb-3" id="page_content">
        <div class="col-6">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="target_url">
                        <label for="target_url">Target url</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4">
                    <div class="form-floating">
                        <select class="form-select" id="project" aria-label="Project">
                        </select>
                        <label for="project">Project</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating">
                        <select class="form-select" id="product_type" aria-label="Product type">
                        </select>
                        <label for="product_type">Product type</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating">
                        <select class="form-select" id="page_type" aria-label="Page type">
                        </select>
                        <label for="page_type">Page type</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="medium" aria-label="Channel">
                        </select>
                        <label for="medium">Channel</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="source" aria-label="Source">
                        </select>
                        <label for="source">Source</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#for_adv_block" aria-controls="collapseExample" id="check_adv">
                            For an advertising company
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-2 collapse" id="for_adv_block">
                <div class="col-6">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="campaign_name">
                            <label for="campaign_name">Campany name</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="content" aria-label="Adv.type">
                        </select>
                        <label for="content">Adv.type</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="get_utm" data-bs-toggle="modal" data-bs-target="#done_link">Get link</button>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1">
            <div id="desc_product_type">
                <h4>Тип продукта</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>freebie</td>
                            <td>Ссылка ведёт на freebie продукт или раздел freebie</td>
                        </tr>
                        <tr>
                            <td>plus</td>
                            <td>Ссылка ведёт на plus продукт или раздел plus</td>
                        </tr>
                        <tr>
                            <td>premium</td>
                            <td>Ссылка ведёт на premium продукт или раздел premium</td>
                        </tr>
                        <tr>
                            <td>index</td>
                            <td>Ссылка ведёт на https://pixelbuddha.net</td>
                        </tr>
                        <tr>
                            <td>article</td>
                            <td>Ссылка ведёт на статью или раздел article</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="desc_page_type">
                <h4>Тип страницы</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>item</td>
                            <td>Ссылка ведёт на продукт</td>
                        </tr>
                        <tr>
                            <td>subscription</td>
                            <td>Ссылка ведёт на plus подписку</td>
                        </tr>
                        <tr>
                            <td>site</td>
                            <td>Ссылка ведет на сайт (не продукт и не подписка)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="desc_medium">
                <h4>Канал привлечения трафика</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>social</td>
                            <td>Соц сети:
                                <ul>
                                    <li>dribbble.com</li>
                                    <li>behance.net</li>
                                    <li>pinterest.com</li>
                                    <li>youtube.com</li>
                                    <li>facebook.com</li>
                                    <li>twitter.com</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>market</td>
                            <td>Маркеты:
                                <ul>
                                    <li>creativemarket.com</li>
                                    <li>elements.envato.com</li>
                                    <li>designcuts.com</li>
                                    <li>etc</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>email_digest</td>
                            <td>Дайджест рассылка</td>
                        </tr>
                        <tr>
                            <td>email_exclusive</td>
                            <td>Эксклюзивная рассылка</td>
                        </tr>
                        <tr>
                            <td>push</td>
                            <td>Пуш уведомления</td>
                        </tr>
                        <tr>
                            <td>article</td>
                            <td>Статья</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="desc_source">
                <h4>Источник траффика</h4>
                <p>Уточните источник трафика</p>
            </div>
            <div id="desc_project">
                <h4>Проект</h4>
                <p>Выберете для какого проекта ссылка</p>
            </div>
            <div id="desc_campaign_name">
                <h4>Метка рекламной компании</h4>
                <p>Содержит идентификатор рекламной компании:</p>
                    <ul>
                        <li>open_new_pb_site</li>
                        <li>black_friday_2020</li>
                        <li>etc</li>
                    </ul>
                <p>Или другую важную для вас информацию, все слова в этом поле должны быть отделены _ (нижним подчеркиванием). Пробелы и другие знаки не допускаются</p>
            </div>
            <div id="desc_content">
                <h4>Тип размещения</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>text</td>
                            <td>Текстовая ссылка</td>
                        </tr>
                        <tr>
                            <td>button</td>
                            <td>Ссылка в кнопке</td>
                        </tr>
                        <tr>
                            <td>img</td>
                            <td>Ссылка в изображении</td>
                        </tr>
                        <tr>
                            <td>profile</td>
                            <td>Ссылка в профиле</td>
                        </tr>
                        <tr>
                            <td>push</td>
                            <td>Ссылка в пуш уведомлении</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h3>Last 10 links</h3>
        </div>
    </div>
    <div class="row mb-3">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody id="table_body">

            </tbody>
          </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="done_link" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Your link is ready!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="copyToClipboard()">Copy</button>
                    <input type="text" class="form-control" id="result_url" disabled>
                  </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/utm.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        set_default(
            '{{ url_for("tools.get_utm_info") }}',
            '{{ url_for("tools.get_utm") }}',
            '{{ url_for("tools.get_last_utms") }}',
        );
    });


</script>
{% endblock %}