{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row m-4">
        <div class="col-12">
            <h3>Videos</h3>
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in page.items %}
                    <tr>
                    <th scope="row">1</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                    <td>
                        {% if item.in_working %}
                            <div class="spinner-grow" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        {% else %}
                            <a target="_blank" class="btn btn-outline-primary visually-hidden" role="button" id="dwn_{{item.uid}}">Download</a>
                            <button class="btn btn-primary visually-hidden" type="button" id="spiner_{{item.uid}}" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="visually-hidden">Loading...</span>
                            </button>
                            <button id="get_link_{{item.uid}}" type="button" class="btn btn-outline-primary" name="get_link" value="{{item.uid}}">Get link</button>
                            <button type="button" class="btn btn-outline-danger" name="delete" value="{{item.uid}}">Delete</button>
                        {% endif %}

                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('button[name="get_link"]').on('click', function(event){
        $('#get_link_'+event.target.value).addClass('visually-hidden')
        $('#spiner_'+event.target.value).removeClass('visually-hidden')
        var formData = new FormData();
        formData.append('uid', event.target.value)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('tools.dwn_video') }}",
                data: formData,
                dataType: 'text',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(response) {
                    $('#dwn_'+event.target.value).attr("href", response)
                    $('#spiner_'+event.target.value).addClass('visually-hidden');
                    $('#dwn_'+event.target.value).removeClass('visually-hidden');
                },
                error: function(error) {
                    console.log(error);
                },
                
            });
    })
    $('button[name="delete"]').on('click', function(event){
        var formData = new FormData();
        formData.append('uid', event.target.value)
        $.ajax({
            type: 'POST',
            url: "{{ url_for('tools.rm_video') }}",
                data: formData,
                dataType: 'text',
                contentType: false,
                cache: false,
                mimeType: "multipart/form-data",
                processData: false,
                success: function(response) {
                    window.location.reload(true)
                },
                error: function(error) {
                    console.log(error);
                },
            });
    })
</script>
{% endblock %}