.product_grid-1 .column-2 .block-1.image_block img {
    display: inline-block !important;
}
.product_grid-1 td.column.first .border {
    padding: 0 40px 10px;
    border-top: 0;
    border-right: 0px;
    border-bottom: 0;
    border-left: 0;
}
.product_grid-1 td.column.last .border {
    padding: 5px 0;
    border-top: 0;
    border-right: 0px;
    border-bottom: 0;
    border-left: 0;
}
.product_grid-1 .column-2 .block-1.image_block .alignment {
    text-align: center !important;
}

.product_grid-1 .column-2 .block-1.image_block td.pad {
    padding: 40px 0 0 !important;
}

.product_grid-1 .column-1 .block-1.text_block td.pad {
    padding: 25px 0 0 !important;
}

.product_grid-1 .column-1 .border {
    padding: 0 25px 10px !important;
}


.product_grid-2 .column-1 .block-1.image_block img {
    display: inline-block !important;
}

.product_grid-2 .column-1 .block-1.image_block .alignment {
    text-align: center !important;
}

.product_grid-2 .column-1 .block-1.image_block td.pad {
    padding: 0 !important;
}

.product_grid-2 .column-2 {
    padding: 30px 0 0 !important;
}

.product_grid-2 .column-1 {
    padding: 20px 0 0 !important;
}

.product_grid-2 .column-1 .block-2.text_block td.pad {
    padding: 15px 30px 0 0 !important;
}