.premium_big-1 .column-1 .block-1.image_block td.pad {
    padding: 25px 25px 0 !important;
}
.premium_big-2 .column-1 {
    padding: 20px 5px 0 25px !important;
}
.premium_big-2 .column-2 {
    padding: 20px 15px 0 !important;
}
.premium_big-2 .column-3 {
    padding: 20px 25px 0 5px !important;
}
.premium_big-3 .column-2 .block-1.text_block td.pad {
    padding: 0 !important;
}
.premium_big-3 .column-1 {
    padding: 15px 25px 0 !important;
}
.premium_big-3 .column-2 {
    padding: 10px 25px 5px !important;
}
.premium_big-4 .column-1 {
    padding: 5px 25px 30px !important;
}
.premium_big-5 .column-2 {
    padding: 11px 0 5px 30px !important;
}
.premium_big-5 .column-1 {
    padding: 0 0 0 25px !important;
}