<div class="from_block">
    <div id="sortedPreview" class="hidden flex flex-col gap-2.5 sortable py-2.5">
        <div id="imgIndicator" class="htmx-indicator hidden">
            <img src="{{ url_for('static', path='/imgs/loading.svg') }}" alt="">
        </div>
    </div>
    <div class="flex flex-col gap-4 py-2.5">
        <h3 class="title_small-2">Preview Image Requirements</h3>

        <div class="text_block-2">
            <p>Aspect Ratio: 3:2</p>
            <p>Minimum Size: 2250px (W) x 1500px (H)</p>
            <p>Recommended Size: 3000px (W) x 2000px (H)</p>
            <p>Max File Size: 5MB</p>
        </div>
        <input type="file" name="imgFiles" class="hidden" multiple accept=".jpg,.jpeg" hx-trigger="change"
            hx-post="{{url_for('imgs_upload')}}" hx-target="#imgIndicator" hx-swap="beforebegin"
            hx-encoding="multipart/form-data" hx-on:change="showSortedPreview()" hx-indicator="#imgIndicator">
        <button type="button" onclick="document.querySelector('input[name=imgFiles]').click();"
            class="flex flex-row justify-start gap-3.5 max-w-44 items-center rounded-md bg-black px-3 py-2 text-white font-light leading-6">
            <img src="{{ url_for('static', path='/imgs/btn-icon.svg') }}">
            Upload images
        </button>
    </div>
    <div class="flex flex-col justify-start gap-3">
        <label for="youtubeLink" class="font-light">Youtube video link (optional)</label>
        <div class="flex flex-row w-full items-center">
            <img class="w-4 h-4 absolute ml-3.5 mt-1" src="{{ url_for('static', path='/imgs/icon-link.svg') }}" alt="">
            <input type="text" name="youtubeLink" id="youtubeLink"
                class="w-full border rounded-l-md h-10 py-1.5 pl-8 pr-3 focus:outline-none focus:border-black"
                placeholder="https://www.youtube.com/watch?v=...">
            <button type="button" id="addYoutubeBtn" class="border border-l-0 rounded-r-md bg-gray-200 h-10 px-3 right-1"
                hx-post="{{url_for('add_youtube_preview')}}" hx-target="#imgIndicator" hx-swap="beforebegin"
                hx-on:click="showSortedPreview()" hx-indicator="#imgIndicator">
                <img class="w-4 h-4" src="{{ url_for('static', path='/imgs/icon-btn-black.svg') }}" alt="">
            </button>
        </div>
    </div>
</div>