<div class="from_block">
    <div class="relative {%if not upload_session.product_name%}hidden{%endif%}" id="productBar">
        <div id="productProgress" class="absolute inset-0 bg-gray-500 h-full rounded-sm"
            style="width: 0%; right: 0; left: auto; z-index: 1;"></div>

        <div
            class="flex flex-row justify-between border items-center p-5 font-light border-black rounded-sm relative z-10 bg-white bg-opacity-90">
            <div class="flex flex-row justify-start items-center gap-5">
                <img class="w-7 h-7" src="{{ url_for('static', path='/imgs/icon-zip.svg') }}">
                <span id="productName">{{upload_session.product_name}}</span>
            </div>
            <div class="cursor-pointer" onclick="cancelUpload()">
                <img class="max-w-4 max-h-4" src="{{ url_for('static', path='/imgs/icon-trash.svg') }}">
            </div>
        </div>
    </div>

    <h3 class="title_small-2">Product package requirements</h3>
    <a class="flex flex-row justify-start w-fit items-center px-2 py-1 gap-1 bg-gray-100 border rounded-md font-medium text-sm"
        href="{{sample_product_url}}">
        <img class="max-w-3 max-h-3" src="{{ url_for('static', path='/imgs/icon-zip.svg') }}">
        Sample package
    </a>
    <div class="text_block-2">
        <p>Please, keep the files organised in two folders: <span class="font-medium">Product files</span>, and <span
                class="font-medium">Help files</span>.</p>
        <p>Max file size: 4GB</p>
    </div>
    <input type="file" id="productFile" class="hidden" onchange="startUpload()" accept=".zip">
    <input type="text" id="hiddenProductName" name="productName" class="hidden" value="{{upload_session.product_name}}"
        hx-post="{{url_for('save_changes')}}" hx-trigger="change" hx-target="#status" hx-swap="innerHTML" required>
    <div class="flex flex-row items-center justify-start gap-4">
        <button type="button" id="uploadBtn" onclick="document.getElementById('productFile').click();"
        class="flex flex-row justify-start gap-3.5 max-w-36 items-center rounded-md bg-black px-3 py-2 text-white font-light leading-6">
        <img src="{{ url_for('static', path='/imgs/btn-icon.svg') }}">
        Upload files
    </button>
    <span id="productFileError" class="text-red-500 {%if upload_session.product_name or not upload_session.errors.file_upload %}hidden{%endif%}">No files selected</span>
    </div>


    <h3 class="title_small-2 mt-4">Supported file types</h3>
    <div class="grid grid-cols-4 gap-x-10" hx-post="{{url_for('save_changes')}}" hx-trigger="change" hx-target="#status"
        hx-swap="innerHTML" id="formatsBlock">
        {% for f in supported_formats%}
        <label class="custom_checkbox-label inline-flex items-center cursor-pointer text-base font-light select-none">
            <input type="checkbox" name="formats[]" class="w-0 h-0 opacity-0" value="{{f}}" {%if f in
                upload_session.formats%}checked{%endif%}>
            <span class="custom_checkbox checked:opacity-100"></span>
            {{f}}
        </label>

        {% endfor %}

    </div>
    <span id="formatError" class="text-red-500 {%if not upload_session.errors.formats %}hidden{%endif%}">Select at least one option</span>
</div>