<div class="flex flex-col gap-4 w-full py-2.5" id="pricing">
    <h3 class="title_small-2">Pricing</h3>
    {% if upload_session.product_type == 'plus' or upload_session.product_type == 'special' %}
    <div class="flex flex-row justify-between items-center">
        <p class="text-base font-light leading-[160%]">Commercial License <span class="text-red-600">*</span></p>
        <div class="relative">
            <span
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-gray-400">$</span>
            <input type="number" name="commercialPrice" value="{%if is_external_creator%}0{%else%}17{%endif%}"
                class="w-20 pl-8 border rounded-md py-2 focus:outline-none focus:border-black invalid:ring-red-600 invalid:ring-2" placeholder="17"
                hx-post="{{url_for('save_changes')}}" hx-trigger="change"  hx-target="#status" hx-swap="innerHTML">
        </div>
    </div>
    {% endif %}
    <div class="flex flex-row justify-between items-center">
        <p class="text-base font-light leading-[160%]">Extended Commercial License<span
                class="text-red-600">*</span></p>
        <div class="relative">
            <span
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-gray-400">$</span>
            <input type="number" name="extendedPrice" value="{%if is_external_creator %}{% elif upload_session.product_type == 'free'%}49{%else%}99{%endif%}"
                class="w-20 pl-8 border rounded-md py-2 focus:outline-none focus:border-black invalid:ring-red-600 invalid:ring-2" placeholder="{% if upload_session.product_type == 'plus' or upload_session.product_type == 'special' %}99{%else%}49{%endif%}"
                hx-post="{{url_for('save_changes')}}" hx-trigger="change"  hx-target="#status" hx-swap="innerHTML">
        </div>
    </div>
</div>