{% for preview in previews %}
<div class="flex flex-row justify-between border items-center p-2 font-light {%if preview.error%}border-red-500{%else%}border-black{%endif%} rounded-sm cursor-move preview-img-block"
    {%if preview.error%}title="{{preview.error}}" {%endif%}>
    {%if not preview.error%}<input type="hidden" name="preview_ids[]" value="{{preview.id}}">{%endif%}
    <div class="flex flex-row justify-start items-center gap-5 {%if preview.error%}text-red-500{%else%}text-black{%endif%}">
        <div class="{%if preview.thumb_url%}w-12 h-12 overflow-hidden rounded-sm{%else%}w-7 h-7 overflow-hidden rounded-sm m-2{%endif%}">
            <img class="{%if preview.thumb_url%}w-full h-full object-cover{%else%}w-full h-full{%endif%}"
                src="{%if preview.thumb_url and not preview.error %}{{preview.thumb_url}}{%else%}{{ url_for('static', path='/imgs/icon-preview.svg') }}{%endif%}">
        </div>
        {%if preview.filename|length < 45 %}
            {{preview.filename}}
        {%else%}
            {% set ext = preview.filename.split('.')[-1] %}
            {{preview.filename[:35]}}...{{ext[:5]}}
        {%endif%}
    </div>
    <button type="button" class="cursor-pointer mr-4"  hx-delete="{{url_for('delete_img')}}"{% if preview.id != None %} hx-vals='{"img_id": "{{preview.id}}"}'{%endif%} hx-target="closest .preview-img-block" hx-swap="outerHTML">
        <img class="max-w-4 max-h-4"
            src="{%if preview.error %}{{ url_for('static', path='/imgs/icon-trash-d.svg') }}{%else%}{{ url_for('static', path='/imgs/icon-trash.svg') }}{%endif%}">
    </button>
</div>
{% endfor %}