<input
    class="w-full max-w-2xl border rounded-md py-3 px-5 font-light leading-6 focus:border-black focus:outline-none invalid:ring-red-600 invalid:ring-2"
    hx-post="{{url_for('save_product_title')}}" hx-trigger="change" hx-target="#title" hx-swap="outerHTML" type="text"
    id="title" name="title" placeholder="Enter your product title" pattern="[a-zA-Z][a-zA-Z0-9& \-.—:!?,']+" value="{{title}}" maxlength="50" title="Please start with a letter, and use only letters, numbers, ampersands, hyphens" required>