{% extends "base_content.html" %}
{% block head %}
{{ super() }}
<title>New product</title>
{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', path='codemirror.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{% block content_in_wrapper %}
{{ super() }}
<h1 class="title mb-12">Create Submission</h1>
<form class="flex flex-col gap-12" action="{{url_for('submit_new_product')}}" method="post">
    <input type="text" name="upload_session_id" class="hidden" value="{{upload_session.session_id}}">
    {% include 'products/_create_product_block_title.html' %}
    {% include 'products/_create_product_block_files.html' %}
    {% include 'products/_create_product_block_desc_tags.html' %}
    {% include 'products/_create_product_block_imgs.html' %}
    <div class="flex flex-row gap-5 items-center mt-2.5">
        <button
            type="submit"
            class="flex justify-center w-fit items-center rounded-md bg-black py-3 px-8 text-white font-light max-w-60">
            <span id="submitBtnText">Publish</span>
        </button>
        <input type="text" id="scheduleDate" name="schedule_date"  class="hidden" hx-trigger="load, change" hx-post="{{url_for('schedule_info')}}" hx-target="#scheduleInfo" hx-swap="outerHTML" value="{{upload_session.schedule_date}}">
        <input type="text" id="timezone" name="timezone" class="hidden">
        <button type="button" id="openPicker"
            class="flex justify-center w-fit items-center border border-black rounded-md bg-white py-3 px-8 text-black font-light max-w-60">
            <img class="mr-2" src="{{ url_for('static', path='/imgs/icon-schedule.svg') }}" alt="Schedule">
            Schedule
        </button>
        <div class="flex flex-col justify-center" id="scheduleInfo" >
        </div>
    </div>

</form>
<div class="hidden" id="status"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{{ url_for('static', path='/js/new_product.js') }}"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}