.products__add_new {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start; 
    margin-top: 20px;
    padding: 32px 40px 42px 40px;
    border-radius: 4px;
    border: 1px solid var(--form-border-color);
    width: calc(100% - 80px);
    gap: 20px;
}

.products__add_new p {
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
}

.products__add_new a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 243px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    border: none;
    border-radius: 4.8px;
    cursor: pointer;
}

.products__add_new a::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Union"><path d="M14 0.999176C14.2652 0.999176 14.5196 1.10453 14.7071 1.29207C14.8946 1.47961 15 1.73396 15 1.99918V13.9992C15 14.2644 14.8946 14.5187 14.7071 14.7063C14.5196 14.8938 14.2652 14.9992 14 14.9992H2C1.73478 14.9992 1.48043 14.8938 1.29289 14.7063C1.10536 14.5187 1 14.2644 1 13.9992V1.99918C1 1.73396 1.10536 1.47961 1.29289 1.29207C1.48043 1.10453 1.73478 0.999176 2 0.999176H14ZM2 -0.000823975C1.46957 -0.000823975 0.960859 0.20989 0.585786 0.584962C0.210714 0.960035 0 1.46874 0 1.99918V13.9992C0 14.5296 0.210714 15.0383 0.585786 15.4134C0.960859 15.7885 1.46957 15.9992 2 15.9992H14C14.5304 15.9992 15.0391 15.7885 15.4142 15.4134C15.7893 15.0383 16 14.5296 16 13.9992V1.99918C16 1.46874 15.7893 0.960035 15.4142 0.584962C15.0391 0.20989 14.5304 -0.000823975 14 -0.000823975H2Z" fill="white"/><path d="M8 3.99918C8.13261 3.99918 8.25979 4.05185 8.35355 4.14562C8.44732 4.23939 8.5 4.36657 8.5 4.49918V7.49918H11.5C11.6326 7.49918 11.7598 7.55185 11.8536 7.64562C11.9473 7.73939 12 7.86657 12 7.99918C12 8.13178 11.9473 8.25896 11.8536 8.35273C11.7598 8.4465 11.6326 8.49918 11.5 8.49918H8.5V11.4992C8.5 11.6318 8.44732 11.759 8.35355 11.8527C8.25979 11.9465 8.13261 11.9992 8 11.9992C7.86739 11.9992 7.74021 11.9465 7.64645 11.8527C7.55268 11.759 7.5 11.6318 7.5 11.4992V8.49918H4.5C4.36739 8.49918 4.24021 8.4465 4.14645 8.35273C4.05268 8.25896 4 8.13178 4 7.99918C4 7.86657 4.05268 7.73939 4.14645 7.64562C4.24021 7.55185 4.36739 7.49918 4.5 7.49918H7.5V4.49918C7.5 4.36657 7.55268 4.23939 7.64645 4.14562C7.74021 4.05185 7.86739 3.99918 8 3.99918Z" fill="white"/></g></svg>');
}
