<div class="header">
    <div class="header__wrapper">
        <div class="header__logo">
            <a href="#">
                <img src="{{ url_for('static', path='/el_header/logo.svg') }}" alt="Pixelbuddha logo">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu__item menu__item_alert"><a href="#">Products</a></li>
                <li class="menu__item"><a href="#">Payouts</a></li>
                <li class="menu__item"><a href="#">Account</a></li>
                <li class="menu__item menu__item_active"><a href="#">Agreement</a></li>
                <li class="menu__item"><a href="#">Help</a></li>
            </ul>
        </nav>
        <div class="header_loggin">
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
</div>