<form id="loginForm" action="#" class="login-form" method="post" data-auth-url="{{ url_for('auth:jwt.login') }}" data-success-url = "{{ url_for('index') }}" onsubmit="submitForm(event)">
    <div class="login-form__header">
        <h3>Pixelbuddha Creators</h3>
        <p>Welcome back! Please enter your details.</p>
    </div>

    <div class="login-form__username">
        <input type="text" placeholder="Your Email" id="email" name="username" onfocus="toDefault(event)">
    </div>
    <div class="login-form__password">
        <input type="password" placeholder="Password" id="password" name="password" onfocus="toDefault(event)">
        <img
            id="password-eye"
            src="{{ url_for('static', path='/el_login_form/open_eye.svg') }}"
            alt="Show password"
            data-closed-eye-src="{{ url_for('static', path='/el_login_form/closed_eye.svg') }}"
            data-open-eye-src="{{ url_for('static', path='/el_login_form/open_eye.svg') }}"
            onclick="switchVisiblePassword()"
        >
    </div>
    <div class="login-form__info">
        <a href="#">Forgot password?</a>
        <div class="login-form__error">
            <img src="{{ url_for('static', path='/el_login_form/attention_icon.svg') }}" alt="attention">
            <span>Wrong email or password</span>
        </div>
    </div>
    <div class="login-form__control">
        <button type="submit">Sign in</button>
    </div>
</form>