<form action="#" class="login-form">
    <div class="login-form__header">
        <h3>Pixelbuddha Creators</h3>
        <p>Welcome back! Please enter your details.</p>
    </div>

    <div class="login-form__username">
        <input type="text" placeholder="Your Email" id="email">
        <label for="email">Don’t forget about @ and . symbols</label>
    </div>
    <div class="login-form__password">
        <input type="password" placeholder="Password">
        <img src="{{ url_for('static', path='/el_login_form/open_eye.svg') }}" alt="Show password">
    </div>
    <div class="login-form__control">
        <button type="submit">Sign in</button>
        <a href="#">Forgot password?</a>
    </div>
</form>